@model Animal;

@{
    Layout = null;
}
<form id="">
    <div class="formEditar">
        <div class="mb-3">
            <input placeholder="Nome" value="@Model.Nome" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Responsável" value="@Model.Responsavel" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Sexo" value="@Model.Sexo" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Peso" value="@Model.Peso" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Altura" value="@Model.Altura" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Cor" value="@Model.Cor" type="text" class="form-control">
        </div>
        @* <div class="mb-3">
        <select asp-for="Animal.IdEspecie" asp-items="@(new SelectList(Model.Especies,"Id","Nome"))"
        class="form-select">
        </select>
        </div> *@
        <button type="button" class="btn btn-primary" onclick="animal.editar()">Enviar</button>
    </div>

</form>