@model Animal;

@{
    Layout = null;
}
<form id="formEditar">
    <div>
        <div class="mb-3">
            <input placeholder="Nome" asp-for="@Model.Nome" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Responsável" asp-for="@Model.Responsavel" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Sexo" asp-for="@Model.Sexo" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Peso" asp-for="@Model.Peso" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Altura" asp-for="@Model.Altura" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Cor" asp-for="@Model.Cor" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input type="hidden" asp-for="@Model.Id">
        </div>
        <div class="mb-3">
            <input type="hidden" asp-for="@Model.IdEspecie">
        </div>
        <button type="button" class="btn btn-primary" onclick="animal.editar()">Enviar</button>
    </div>

</form>