<button class="buttons" onclick="animal.listar()">Listar</button>
<button class="buttons" onclick="animal.viewCadastrar()">Cadastrar</button>

<div class="container-lista"></div>
<div class="container-cadastrar"></div>
<div class="container-editar"></div>

<script src="~/js/Pages/animal.js" asp-append-version="true"></script>
<script>
    animal.init({
        urls: {
            cadastrar: '@Url.Action("cadastrar", "animal")',
            viewCadastrar: '@Url.Action("cadastrar", "animal")',
            editar: '@Url.Action("editar", "animal")',
            viewEditar: '@Url.Action("editar", "animal")',
            listar: '@Url.Action("listar", "animal")'
        }
    });
</script>